html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
main {
  display: block;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
a {
  background-color: initial;
}
b,
strong {
  font-weight: bolder;
}
code {
  font-family: monospace, monospace;
  font-size: 1em;
}
img {
  border-style: none;
}
button,
input,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button,
input {
  overflow: visible;
}
button {
  text-transform: none;
}
[type="button"],
[type="reset"],
[type="submit"],
button {
  -webkit-appearance: button;
}
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
[hidden],
template {
  display: none;
}
html {
  box-sizing: border-box;
  font-family: sans-serif;
}
*,
:after,
:before {
  box-sizing: inherit;
}
h1,
h2,
p {
  margin: 0;
}
button {
  background: transparent;
  padding: 0;
}
button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}
ul {
  margin: 0;
}
*,
:after,
:before {
  border: 0 solid #dae1e7;
}
img {
  border-style: solid;
}
textarea {
  resize: vertical;
}
img {
  max-width: 100%;
  height: auto;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.5;
}
input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  color: inherit;
  opacity: 0.5;
}
input::placeholder,
textarea::placeholder {
  color: inherit;
  opacity: 0.5;
}
[role="button"],
button {
  cursor: pointer;
}
.list-reset {
  list-style: none;
  padding: 0;
}
.bg-white {
  background-color: #fff;
}
.bg-blue {
  background-color: #3490dc;
}
.hover\:bg-blue-dark:hover {
  background-color: #2779bd;
}
.border-grey-light {
  border-color: #dae1e7;
}
.rounded-sm {
  border-radius: 0.125rem;
}
.rounded {
  border-radius: 0.25rem;
}
.rounded-full {
  border-radius: 9999px;
}
.border {
  border-width: 1px;
}
.border-b {
  border-bottom-width: 1px;
}
.block {
  display: block;
}
.hidden {
  display: none;
}
.flex {
  display: -webkit-flex;
  display: flex;
}
.items-center {
  -webkit-align-items: center;
  align-items: center;
}
.justify-center {
  -webkit-justify-content: center;
  justify-content: center;
}
.h-10 {
  height: 2.5rem;
}
.h-16 {
  height: 4rem;
}
.mt-2 {
  margin-top: 0.5rem;
}
.ml-2 {
  margin-left: 0.5rem;
}
.mt-4 {
  margin-top: 1rem;
}
.mr-4 {
  margin-right: 1rem;
}
.ml-4 {
  margin-left: 1rem;
}
.mb-6 {
  margin-bottom: 1.5rem;
}
.ml-auto {
  margin-left: auto;
}
.overflow-y-auto {
  overflow-y: auto;
}
.p-4 {
  padding: 1rem;
}
.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}
.pl-2 {
  padding-left: 0.5rem;
}
.fixed {
  position: fixed;
}
.absolute {
  position: absolute;
}
.pin-r {
  right: 0;
}
.pin-b {
  bottom: 0;
}
.shadow-lg {
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.11),
    0 5px 15px 0 rgba(0, 0, 0, 0.08);
}
.text-center {
  text-align: center;
}
.text-grey-dark {
  color: #8795a1;
}
.text-white {
  color: #fff;
}
.text-red-dark {
  color: #cc1f1a;
}
.text-sm {
  font-size: 0.875rem;
}
.text-xl {
  font-size: 1.25rem;
}
.text-2xl {
  font-size: 1.5rem;
}
.capitalize {
  text-transform: capitalize;
}
.no-underline {
  text-decoration: none;
}
.z-50 {
  z-index: 50;
}
body,
html {
  height: 100%;
}
body {
  background-color: #f8fafc;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Droid Sans, Helvetica Neue, Fira Sans, sans-serif;
}
#root {
  min-height: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.chevron {
  border-color: transparent transparent #fff;
  border-style: solid;
  border-width: 0 10px 10px;
  height: 0;
  top: -11px;
  right: 0;
  width: 0;
  z-index: 12;
  content: " ";
  position: absolute;
}
.notifications li:last-child {
  border: none;
}
.Loading {
  margin: 0 auto;
  width: 70px;
  text-align: center;
}
.Loading > div {
  width: 18px;
  height: 18px;
  background-color: #333;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s ease-in-out infinite both;
  animation: sk-bouncedelay 1.4s ease-in-out infinite both;
}
.Loading .Loading__dot-1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.Loading .Loading__dot-2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
@-webkit-keyframes sk-bouncedelay {
  0%,
  80%,
  to {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}
@keyframes sk-bouncedelay {
  0%,
  80%,
  to {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
.Main {
  -webkit-flex-grow: 1;
  flex-grow: 1;
  max-width: 60rem;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  width: 100%;
  padding-top: 6rem;
  padding-bottom: 6rem;
}
.Main--center {
  -webkit-justify-content: center;
  justify-content: center;
}
.Signup {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}
.Signup__img {
  min-width: 350px;
  object-fit: contain;
  display: none;
}
@media (min-width: 768px) {
  .Signup__img {
    display: block;
  }
}
.FormContainer {
  max-width: 20rem;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  border-width: 1px;
  border-color: #dae1e7;
  padding: 4rem 2rem;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
}
.Form__titulo {
  text-align: center;
  margin-bottom: 1rem;
}
.Form__field {
  font-size: 0.875rem;
  background-color: #f8fafc;
  border-color: #dae1e7;
  border-width: 1px;
  border-radius: 0.125rem;
  padding: 0.5rem 0.25rem;
  width: 100%;
  margin-bottom: 0.5rem;
}
.Form__submit {
  display: block;
  color: #fff;
  background-color: #3490dc;
  text-align: center;
  border-radius: 0.25rem;
  margin: 0.5rem auto 1rem;
  padding: 1rem 1rem;
}
.FormContainer__info {
  text-align: center;
  margin-bottom: 1rem;
  color: #8795a1;
  font-weight: 500;
}
.Feed {
  max-width: 40rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  width: 100%;
}
.Feed__cargar-mas {
  border-width: 1px;
  border-radius: 0.125rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.Feed__cargar-mas,
.Feed__no-hay-mas-posts {
  -webkit-align-self: center;
  align-self: center;
  padding: 0.5rem 1rem;
}
.Feed__no-hay-mas-posts {
  text-align: center;
}
.NoSiguesANadie {
  padding: 1rem 2rem;
  border-width: 1px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  background-color: #fff;
  max-width: 30rem;
  margin-left: auto;
  margin-right: auto;
}
.NoSiguesANadie__mensaje {
  margin-top: 1rem;
  text-align: center;
  line-height: 1.5;
}
.NoSiguesANadie__boton {
  margin-top: 1rem;
  text-decoration: none;
  display: inline-block;
  background-color: #3490dc;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  font-weight: 700;
}
.NoSiguesANadie__boton:hover {
  background-color: #2779bd;
}
.Post {
  width: 100%;
  max-width: 50rem;
  background-color: #fff;
  border-color: #dae1e7;
  border-width: 1px;
  border-radius: 0.125rem;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  .Post {
    -webkit-flex-direction: row;
    flex-direction: row;
    height: 30rem;
  }
}
.Post__image-container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.Post__image-container img {
  object-fit: contain;
  max-height: 400px;
}
.Post__side-bar {
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-color: #dae1e7;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-flex-grow: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
}
@media (min-width: 768px) {
  .Post__side-bar {
    width: 16rem;
    height: 100%;
  }
}
.Post__comentarios {
  -ms-overflow-style: none;
  scrollbar-width: none;
  list-style: none;
  margin-top: 0.5rem;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  overflow-y: auto;
  padding: 0 1rem;
  height: 16rem;
}
@media (min-width: 768px) {
  .Post__comentarios {
    max-height: 100%;
  }
}
.Post__comentario {
  margin-bottom: 0.5rem;
  word-wrap: break-word;
}
.Post__autor-comentario {
  color: inherit;
  text-decoration: none;
}
.Post__comentarios-y-like {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-flex-grow: 1;
  flex-grow: 1;
}
.Post__like {
  font-size: 1.25rem;
  margin-top: auto;
  padding: 0.5rem 1rem;
}
.Post__comentario-form-container {
  border-top-width: 1px;
  border-color: #dae1e7;
  padding: 0.5rem;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}
.Post__comentario-form-container input {
  height: 2rem;
  -webkit-flex-grow: 1;
  flex-grow: 1;
}
.Post__comentario-form-container button {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  color: #2779bd;
}
.Explore__title {
  color: #8795a1;
  font-size: 1rem;
  margin-top: 3rem;
  margin-bottom: 1rem;
}
.Explore__usuarios-container {
  overflow-x: auto;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
}
.Explore__usuario {
  min-width: 12rem;
  margin-right: 1.5rem;
  width: 12rem;
  background-color: #fff;
  border-width: 1px;
  border-color: #dae1e7;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.Explore__usuario .Avatar__img,
.Explore__usuario img {
  margin-bottom: 0.5rem;
  margin-top: 1rem;
}
.Explore__usuario img {
  border-radius: 9999px;
  height: 2.5rem;
}
.Explore__usuario p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.Explore__usuario a {
  background-color: #3490dc;
  color: #fff;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
  text-decoration: none;
}
.Grid__row {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  height: 6rem;
}
@media (min-width: 576px) {
  .Grid__row {
    height: 12rem;
  }
}
@media (min-width: 768px) {
  .Grid__row {
    height: 16rem;
  }
}
.Grid__post {
  display: block;
  padding: 0.25rem;
  -webkit-flex: 1 0 0;
  flex: 1 0;
  height: 100%;
  max-width: 33.3%;
}
.Grid__post-img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.Upload {
  width: 100%;
  max-width: 30rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5rem;
}
.Upload__image-section {
  border-width: 1px;
  border-color: #dae1e7;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  height: 16rem;
}
.Upload__image-section img {
  max-height: 100%;
}
.Upload__image-label {
  width: 16rem;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  padding: 1.5rem 1rem;
  background-color: #fff;
  color: #3490dc;
  border-radius: 0.5rem;
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.11),
    0 5px 15px 0 rgba(0, 0, 0, 0.08);
  letter-spacing: 0.05em;
  text-transform: uppercase;
  border-width: 1px;
  border-color: #3490dc;
  cursor: pointer;
}
.Upload__image-label:hover {
  background-color: #3490dc;
  color: #fff;
}
.Upload__image-label span {
  margin-top: 0.5rem;
  font-size: 1rem;
  line-height: 1.5;
}
.Upload__caption {
  margin-top: 0.5rem;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-width: 1px;
  border-radius: 0.25rem;
  width: 100%;
  padding: 0.5rem 0.75rem;
  color: #606f7b;
  line-height: 1.25;
  height: 6rem;
  resize: none;
}
.Upload__caption:focus {
  outline: 0;
  box-shadow: 0 0 0 3px rgba(52, 144, 220, 0.5);
}
.Upload__submit {
  margin-top: 0.5rem;
  font-size: 1.25rem;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #3490dc;
  color: #fff;
  font-weight: 700;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
}
.Upload__submit:hover {
  box-shadow: 0 0 0 3px rgba(52, 144, 220, 0.5);
}
.Perfil {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 2rem;
}
.Perfil,
.Perfil__img-container {
  display: -webkit-flex;
  display: flex;
}
.Perfil__img-container {
  width: 25%;
  -webkit-align-items: center;
  align-items: center;
}
.Perfil__img-container img {
  border-radius: 9999px;
  width: 4rem;
  height: 4rem;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
}
@media (min-width: 576px) {
  .Perfil__img-container img {
    width: 8rem;
    height: 8rem;
  }
}
.Perfil__img-placeholder {
  border-radius: 9999px;
  width: 4rem;
  height: 4rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
  background-position: 50%;
  background-size: cover;
}
@media (min-width: 576px) {
  .Perfil__img-placeholder {
    width: 8rem;
    height: 8rem;
  }
}
.Perfil__img-placeholder--pointer {
  cursor: pointer;
}
.Perfil__bio-container {
  width: 75%;
  padding-left: 1rem;
}
.Perfil__bio-heading {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  margin-bottom: 1.5rem;
}
@media (min-width: 576px) {
  .Perfil__bio-heading {
    -webkit-flex-direction: row;
    flex-direction: row;
  }
}
.Perfil__bio-heading h2 {
  font-weight: 200;
}
.Perfil__boton-seguir {
  border-width: 1px;
  border-color: #b8c2cc;
  width: 12rem;
  border-radius: 0.125rem;
  background-color: #fff;
  text-align: center;
}
@media (min-width: 576px) {
  .Perfil__boton-seguir {
    margin-left: 1rem;
  }
}
.Perfil__boton-logout {
  border-width: 1px;
  border-color: #b8c2cc;
  border-radius: 0.125rem;
  text-align: center;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin-top: 0.5rem;
}
@media (min-width: 576px) {
  .Perfil__boton-logout {
    margin-left: 1rem;
    margin-top: 0;
  }
}
.Perfil__estadisticas {
  margin-top: 0.5rem;
}
.Perfil__descripcion {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 2rem;
}
@media (min-width: 576px) {
  .Perfil__descripcion {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
  }
}
.Perfil__nombre {
  font-size: 1.125rem;
  text-transform: capitalize;
  margin-bottom: 0.5rem;
}
.Perfil__separador {
  border-bottom-width: 1px;
  margin-bottom: 3rem;
}
.Nav {
  border-bottom-width: 1px;
  border-color: #dae1e7;
  background-color: #fff;
  width: 100%;
  position: fixed;
  height: 4rem;
  z-index: 1;
}
.Nav__links {
  height: 100%;
  list-style: none;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  max-width: 60rem;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.25rem;
  padding: 0 0.75rem;
}
.Nav__link {
  text-decoration: none;
  color: #22292f;
}
.Nav__link-push {
  margin-left: auto;
}
.Nav__link-margin-left {
  padding-left: 0.75rem;
}
.Post-Componente {
  background-color: #fff;
  border-width: 1px;
  border-color: #dae1e7;
  border-radius: 0.125rem;
  margin-bottom: 4rem;
  width: 100%;
}
.Post-Componente__img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  max-height: 400px;
}
.Post-Componente__acciones {
  padding: 0.5rem 1rem;
}
.Post-Componente__acciones p {
  margin-top: 0.5rem;
}
.Post-Componente__acciones ul {
  list-style: none;
  padding: 0;
  margin-top: 0.5rem;
}
.Post-Componente__acciones li {
  margin-bottom: 0.5rem;
}
.Post-Componente__acciones a {
  color: inherit;
  text-decoration: none;
}
.Post-Componente__like-container {
  margin-top: 0.5rem;
  font-size: 1.25rem;
}
.Avatar {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  border-bottom-width: 1px;
  border-color: #dae1e7;
  padding: 1rem;
}
.Avatar a {
  color: inherit;
  text-decoration: none;
}
.Avatar h2 {
  font-size: 0.875rem;
  padding-left: 0.5rem;
}
.Avatar__img {
  width: 2.5rem;
  height: 2.5rem;
  background-position: 50%;
  border-radius: 9999px;
  background-size: cover;
}
.ErrorContainer {
  border-width: 1px;
  position: fixed;
  z-index: 50;
  background-color: #fcebea;
  border-color: #ef5753;
  margin-top: 4rem;
  width: 100%;
  color: #cc1f1a;
  border-radius: 0.25rem;
}
.ValidContainer {
  border-width: 1px;
  position: fixed;
  z-index: 50;
  background-color: white;
  border-color: green;
  margin-top: 4rem;
  width: 100%;
  color: green;
  border-radius: 0.25rem;
}
.valid__inner {
  -webkit-align-items: center;
  align-items: center;
  padding: 0.5rem;
  width: 100%;
  max-width: 50rem;
  margin-right: auto;
  left: 50%;
  background-color: white;
}
.Error__inner {
  -webkit-align-items: center;
  align-items: center;
  padding: 0.5rem;
  width: 100%;
  max-width: 50rem;
  margin-right: auto;
  left: 50%;
}
.Error__button,
.Error__inner {
  display: -webkit-flex;
  display: flex;
  margin-left: auto;
}
.Error__button {
  padding-left: 1rem;
  padding-right: 1rem;
}
[data-reach-dialog-content] {
  padding: 1.5rem;
  border-radius: 0.25rem;
  width: 90vw;
  margin: 5vh auto;
}
@media (min-width: 576px) {
  [data-reach-dialog-content] {
    width: 70vw;
  }
}
@media (min-width: 768px) {
  [data-reach-dialog-content] {
    padding: 2rem;
    width: 40vw;
    margin: 5vh auto;
  }
}
.table-type {
  display: flex;
  justify-content: center;
}
.Error__icon {
  color: #e3342f;
}
.Error__icon:hover {
  color: #cc1f1a;
}
.ValidIcon {
  color: green;
}
.ValidIcon:hover {
  color: green;
}
.RecursoNoExiste__mensaje {
  text-align: center;
  padding-left: 1rem;
  padding-right: 1rem;
}
.RecursoNoExiste__link-container {
  text-align: center;
  margin-top: 1rem;
}
.amount {
  display: flex;
  justify-content: center;
  margin: auto;
  width: fit-content;
  padding: 20px;
  color: white;
  background-color: black;
  border-radius: 8px;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}
.logout {
  position: absolute;
  top: 11px;
  right: 30px;
  cursor: pointer;
}
.form {
  width: 388px;
  margin: auto;
  margin-top: 26px;
}

.Modal-Row {
  display: flex;
  justify-content: center;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: 0.5;
}

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
}

.modal {
  z-index: 100;
  background: linear-gradient(45deg, black, transparent);
  position: relative;
  margin: 9.75rem auto;
  border-radius: 31px;
  max-width: 453px;
  padding: 2rem;
}

.modal-header {
  display: flex;
  justify-content: flex-end;
}

.modal-close-button {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  opacity: 0.3;
  cursor: pointer;
  border: none;
}

button {
  font-size: 0.9rem;
  font-weight: 700;
  border: none;
  border-radius: 3px;
  padding: 0.3rem 1rem;
  margin-left: 0.5rem;
}

.button-default {
  background: #247ba0;
  color: #fff;
}
.Result-Modal {
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 14px;
  background: black;
  color: wheat;
  cursor: pointer;
}
.Min-Letter {
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 7px;
  margin-right: 7px;
  background: black;
  color: wheat;
  cursor: pointer;
}

.ButtonModal {
  display: flex;
  justify-content: center;
  background-color: #3490dc;
  color: white;
  border-radius: 9px;
  font-size: 15px;
  margin: auto;
  width: fit-content;
  padding: 15px;
  margin-top: 25px;
}
.reload {
  display: flex;
  justify-content: center;
  margin: auto;
  border-color: none;
}
@import "https://fonts.googleapis.com/css?family=Open+Sans:600,700";

* {
  font-family: "Open Sans", sans-serif;
}

.rwd-table {
  margin: auto;
  min-width: 300px;
  max-width: 100%;
  border-collapse: collapse;
}

.rwd-table tr:first-child {
  border-top: none;
  background: black;
  color: #fff;
}

.rwd-table tr {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: #f5f9fc;
}

.rwd-table tr:nth-child(odd):not(:first-child) {
  background-color: #ebf3f9;
}

.rwd-table th {
  display: none;
}

.rwd-table td {
  display: block;
}

.rwd-table td:first-child {
  margin-top: 0.5em;
}

.rwd-table td:last-child {
  margin-bottom: 0.5em;
}

.rwd-table td:before {
  content: attr(data-th) ": ";
  font-weight: bold;
  width: 120px;
  display: inline-block;
  color: #000;
}

.rwd-table th,
.rwd-table td {
  text-align: left;
}

.rwd-table {
  color: #333;
  border-radius: 0.4em;
  overflow: hidden;
}

.rwd-table tr {
  border-color: #bfbfbf;
}

.rwd-table th,
.rwd-table td {
  padding: 0.5em 1em;
}
@media screen and (max-width: 601px) {
  .rwd-table tr:nth-child(2) {
    border-top: none;
  }
}
@media screen and (min-width: 600px) {
  .rwd-table tr:hover:not(:first-child) {
    background-color: #d8e7f3;
  }
  .rwd-table td:before {
    display: none;
  }
  .rwd-table th,
  .rwd-table td {
    display: table-cell;
    padding: 0.25em 0.5em;
  }
  .rwd-table th:first-child,
  .rwd-table td:first-child {
    padding-left: 0;
  }
  .rwd-table th:last-child,
  .rwd-table td:last-child {
    padding-right: 0;
  }
  .rwd-table th,
  .rwd-table td {
    padding: 1em !important;
  }
}

/* THE END OF THE IMPORTANT STUFF */

/* Basic Styling */
/*body {
background: #4B79A1;
background: -webkit-linear-gradient(to left, #4B79A1 , #283E51);
background: linear-gradient(to left, #4B79A1 , #283E51);        
}*/
h1 {
  text-align: center;
  font-size: 2.4em;
}
.container {
  display: block;
  text-align: center;
}
h3 {
  display: inline-block;
  position: relative;
  text-align: center;
  font-size: 1.5em;
  color: #cecece;
}
h3:before {
  content: "\25C0";
  position: absolute;
  left: -50px;
  -webkit-animation: leftRight 2s linear infinite;
  animation: leftRight 2s linear infinite;
}
h3:after {
  content: "\25b6";
  position: absolute;
  right: -50px;
  -webkit-animation: leftRight 2s linear infinite reverse;
  animation: leftRight 2s linear infinite reverse;
}
@-webkit-keyframes leftRight {
  0% {
    -webkit-transform: translateX(0);
  }
  25% {
    -webkit-transform: translateX(-10px);
  }
  75% {
    -webkit-transform: translateX(10px);
  }
  100% {
    -webkit-transform: translateX(0);
  }
}
@keyframes leftRight {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-10px);
  }
  75% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}
